In [5]:
# Import necessary libraries.
import os
import pandas as pd
import random, shutil
import torch
import torch.nn as nn
from tqdm.notebook import tqdm
import torch.nn.functional as F
import torchvision.datasets as datasets
import torchvision.transforms as transforms
import numpy as np
import matplotlib.pyplot as plt
import IPython.display as display

In [78]:
features= np.load('/content/drive/MyDrive/NMA_DL_project/all_the_features.npy',allow_pickle=True)
labels=np.load('/content/drive/MyDrive/NMA_DL_project/all_the_labels.npy',allow_pickle=True)

In [79]:
df= pd.DataFrame(features)
df.head()

                                                   0  ...                                                  9
0  [[[-65.298096, -70.04863, -77.817276, -80.0, -...  ...  [[[-80.0, -80.0, -80.0, -80.0, -80.0, -80.0, -...
1  [[[-64.74619, -74.24568, -80.0, -80.0, -80.0, ...  ...  [[[-80.0, -79.159966, -77.46018, -80.0, -80.0,...
2  [[[-80.0, -80.0, -80.0, -80.0, -80.0, -80.0, -...  ...  [[[-80.0, -80.0, -80.0, -80.0, -73.41835, -68....
3  [[[-67.64529, -60.859486, -56.007336, -54.7370...  ...  [[[-53.92138, -64.062325, -80.0, -80.0, -80.0,...
4  [[[-56.985027, -68.57016, -64.7605, -55.85546,...  ...  [[[-80.0, -80.0, -80.0, -80.0, -80.0, -80.0, -...

[5 rows x 10 columns]

In [56]:
np.array( features[0][0] )[0].shape

/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:1: VisibleDeprecationWarning: Creating an ndarray from ragged nested sequences (which is a list-or-tuple of lists-or-tuples-or ndarrays with different lengths or shapes) is deprecated. If you meant to do this, you must specify 'dtype=object' when creating the ndarray
  """Entry point for launching an IPython kernel.

(128, 645)

In [24]:
# for row_of_music_files  in features : # music file 99
#     for i , music_label in enumerate(row_of_music_files) :
#         #print( music_label[4] ) # this is the features
#         print(i)

In [58]:
tmp_array= np.zeros_like( 0 , shape= (990,5) )

In [59]:
tmp_array.shape

(990, 5)

In [41]:
tmp_array[98][4]

0

In [64]:
# for m_file , _ in enumerate(features):
#     for label, _ in enumerate(labels):
#         for feature in range(4):
#             #features[m_file][label][feature] # the feature value
#             tmp_array[m_file][feature]= np.array( features[m_file][label] ) [feature]
#             tmp_array[m_file][4]= label

In [66]:
#features= features.reshape(990,)

In [74]:
#df_tmp= pd.DataFrame( features )

In [77]:
#df_tmp

In [81]:
features= features.T
features.shape

(10, 99)

# creating an array for each feature

In [94]:
f0 = np.zeros( (10,99,128, 645 ) )
f1 = np.zeros( (10,99,1, 645 ) )
f2 = np.zeros( (10,99,1, 645 ) )
f3 = np.zeros( (10,99,12, 645 ) )

for label_10  in range(10) :  
    for n_99 in range (99) :
        #for feature in range (4):
        f0[label_10][n_99]= features[label_10][n_99][0]
        f1[label_10][n_99]= features[label_10][n_99][1]
        f2[label_10][n_99]= features[label_10][n_99][2]
        f3[label_10][n_99]= features[label_10][n_99][3]

In [98]:
labels.shape

(990,)

In [99]:
f0.shape

(10, 99, 128, 645)

In [100]:
f1.shape

(10, 99, 1, 645)

In [101]:
f2.shape

(10, 99, 1, 645)

In [102]:
f3.shape

(10, 99, 12, 645)

# reshaping into the needed shape

In [104]:
f0.reshape(990 , 128 , 645).shape

(990, 128, 645)

In [108]:
f0[0][3] == f0.reshape(990 , 128 , 645)[3]

array([[ True,  True,  True, ...,  True,  True,  True],
       [ True,  True,  True, ...,  True,  True,  True],
       [ True,  True,  True, ...,  True,  True,  True],
       ...,
       [ True,  True,  True, ...,  True,  True,  True],
       [ True,  True,  True, ...,  True,  True,  True],
       [ True,  True,  True, ...,  True,  True,  True]])

In [109]:
feature_0=f0.reshape(990 , 128 , 645)
feature_1=f1.reshape(990 , 1 , 645)
feature_2=f2.reshape(990 , 1 , 645)
feature_3=f3.reshape(990 , 12 , 645)

In [111]:
type( feature_0 )

numpy.ndarray

In [112]:
np.save( 'feature_0.npy' , feature_0 )
np.save( 'feature_1.npy' , feature_1 )
np.save( 'feature_2.npy' , feature_2 )
np.save( 'feature_3.npy' , feature_3 )

In [113]:
!cp  '/content/feature_0.npy' '/content/drive/MyDrive/NMA_DL_project'
!cp  '/content/feature_1.npy' '/content/drive/MyDrive/NMA_DL_project'
!cp  '/content/feature_2.npy' '/content/drive/MyDrive/NMA_DL_project'
!cp  '/content/feature_3.npy' '/content/drive/MyDrive/NMA_DL_project'